{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-info highlight-font col-lg-10 col-md-10 collg-offset-1 col-md-offset-1 col-sm-12 col-xs-12">
                <img src="{{ .Site.BaseURL }}{{ .Site.Params.bikeimg }}"/>

                {{ if .Site.Params.contact.phone }}
                    <div class="contact-item">
                        <i class="fa fa-phone wow bounceIn"></i>
                        <span>{{ .Site.Params.contact.phone }}</span>
                    </div>
                {{ end }}
                {{ if .Site.Params.contact.whatsapp }}
                    <div class="contact-item">
                        <i class="fa fa-whatsapp wow bounceIn"></i>
                        <span>{{ .Site.Params.contact.whatsapp }}</span>
                    </div>
                {{ end }}
                {{ if .Site.Params.contact.instagram }}
                    <div class="contact-item">
                        <i class="fa fa-instagram wow bounceIn"></i>
                        <span><a href="{{ .Site.Params.contact.instagram }}" target="_blank">acompanhe nosso insta</a></span>
                    </div>
                {{ end }}
                {{ if .Site.Params.contact.email }}
                    <div class="contact-item">
                        <i class="fa fa-envelope-o wow bounceIn"></i>
                        <span><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></span>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
