{{ "<!-- HEADER -->" | safeHTML }}
<header>

    <div class="header-content">
        <div class="logo-container" style="background-image: url('img/logo.png')">
        </div>
        {{ if .Site.Params.contact.phone }}
            <a href="#about" class="action btn btn-xl">
                <i class="fa fa-phone"></i>
                <span class="highlight-font"> {{ .Site.Params.contact.phone }}</span>
            </a>
        {{ end }}
        <br/>
        {{ if .Site.Params.contact.whatsapp }}
            <a href="#about" class="action btn btn-xl">
                <i class="fa fa-whatsapp"></i>
                <span class="highlight-font"> {{ .Site.Params.contact.whatsapp }}</span>
            </a>
        {{ end }}
    </div>
</header>
