
{{ if and .Site.Params.location.latitude .Site.Params.location.longitude }}
<section id="location" class="no-padding">
    <!-- <div class="hidden">
        <input id="gmap-lat" value="{{ .Site.Params.location.latitude }}" />
        <input id="gmap-lng" value="{{ .Site.Params.location.longitude }}" />
    </div> -->

    <a href="https://www.google.com.br/maps/@-23.5516065,-46.6659527,13z/data=!3m1!4b1!4m2!6m1!1s1mTXzjpFCaEhc6AB2wpUxf93Ni0E">
        <div  id="map">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1mTXzjpFCaEhc6AB2wpUxf93Ni0E"></iframe>
        </div>
    </a>
</section>
{{ end }}
