<section id="location" class="no-padding">
    <div id="address-input-container">
      <input id="address-input" class="controls" type="text" placeholder="Busque seu endereço">
    </div>
    <div id="map"></div>
    <div class="delivery-text"><h2><strong>Área de entrega</strong></h2></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -23.550717, lng: -46.646465},
          zoom: 13.5,
          mapTypeControl: false,
          fullscreenControl: false
        });

        var deliveryAreaCoords = [
            {lat: -23.5263758, lng: -46.6590643},
            {lat: -23.5263953, lng: -46.6603089},
            {lat: -23.528766, lng: -46.6610599},
            {lat: -23.5319974, lng: -46.6608989},
            {lat: -23.5367239, lng: -46.6631412},
            {lat: -23.5430975, lng: -46.6654372},
            {lat: -23.5442778, lng: -46.6652977},
            {lat: -23.5449074, lng: -46.6645574},
            {lat: -23.5490972, lng: -46.6642571},
            {lat: -23.5500512, lng: -46.6643644},
            {lat: -23.5506856, lng: -46.6645468},
            {lat: -23.5516716, lng: -46.6655821},
            {lat: -23.5531376, lng: -46.6666992},
            {lat: -23.5555478, lng: -46.6676447},
            {lat: -23.5566205, lng: -46.6655432},
            {lat: -23.55637, lng: -46.6640204},
            {lat: -23.5574767, lng: -46.6630554},
            {lat: -23.5649022, lng: -46.6543979},
            {lat: -23.5686343, lng: -46.6499292},
            {lat: -23.5721436, lng: -46.6454738},
            {lat: -23.5750682, lng: -46.64404},
            {lat: -23.5769239, lng: -46.6432265},
            {lat: -23.5765659, lng: -46.6406867},
            {lat: -23.5750081, lng: -46.6404428},
            {lat: -23.5744141, lng: -46.6403278},
            {lat: -23.573938, lng: -46.6402985},
            {lat: -23.5727812, lng: -46.6400098},
            {lat: -23.5714997, lng: -46.6398105},
            {lat: -23.5690154, lng: -46.6399271},
            {lat: -23.5668788, lng: -46.6397312},
            {lat: -23.5608795, lng: -46.6384221},
            {lat: -23.5568888, lng: -46.63596},
            {lat: -23.5551731, lng: -46.6356019},
            {lat: -23.5533788, lng: -46.6345572},
            {lat: -23.5525045, lng: -46.6330257},
            {lat: -23.5506763, lng: -46.6320414},
            {lat: -23.5503719, lng: -46.6318282},
            {lat: -23.5501068, lng: -46.6314434},
            {lat: -23.5500291, lng: -46.6309633},
            {lat: -23.5496854, lng: -46.6303264},
            {lat: -23.5494007, lng: -46.6297324},
            {lat: -23.5488581, lng: -46.629111},
            {lat: -23.5481663, lng: -46.6287694},
            {lat: -23.5470195, lng: -46.6296509},
            {lat: -23.5456696, lng: -46.6303214},
            {lat: -23.5443073, lng: -46.6296455},
            {lat: -23.5426058, lng: -46.6290233},
            {lat: -23.5403829, lng: -46.6281652},
            {lat: -23.5388153, lng: -46.6271996},
            {lat: -23.5377954, lng: -46.6266095},
            {lat: -23.537169, lng: -46.6273927},
            {lat: -23.5369107, lng: -46.6283798},
            {lat: -23.5367434, lng: -46.6294313},
            {lat: -23.5363302, lng: -46.6312123},
            {lat: -23.535504, lng: -46.6343023},
            {lat: -23.534914, lng: -46.6370917},
            {lat: -23.5319631, lng: -46.640997},
            {lat: -23.5294068, lng: -46.6435821},
            {lat: -23.5287976, lng: -46.6454754},
            {lat: -23.5286605, lng: -46.6473687},
            {lat: -23.5285056, lng: -46.6516805},
            {lat: -23.5278024, lng: -46.654124},
            {lat: -23.5273745, lng: -46.6559666},
            {lat: -23.5270253, lng: -46.6571226},
            {lat: -23.5266514, lng: -46.6581417},
            {lat: -23.526375, lng: -46.65906438}
        ];

        var deliveryArea = new google.maps.Polygon({
            paths: deliveryAreaCoords,
            strokeColor: '#ea983e',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#ea983e',
            fillOpacity: 0.35
        });
        deliveryArea.setMap(map);

        // Create the search box and link it to the UI element.
        var container = document.getElementById('address-input-container');
        var input = document.getElementById('address-input');

        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(container);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }
    </script>
</section>
