{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <a class="mob-phone page-scroll" href="whatsapp://send?phone={{ .Site.Params.contact.whatsappNumber }}" target="_blank">
                <i class="fa fa-whatsapp"></i>
                <strong>{{ .Site.Params.contact.whatsapp }}</strong>
            </a>

            <a class="navbar-brand page-scroll" href="#page-top">
              <img class="logo" src="img/logohorizontal.png" alt="Vegan Burger">
            </a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#contact">
                        <!-- <i class="fa fa-phone fa wow bounceIn"></i> -->
                        seg-sex 18h-22h
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="https://web.whatsapp.com/send?phone={{ .Site.Params.contact.whatsappNumber }}" target="_blank">
                        <i class="fa fa-whatsapp fa wow bounceIn"></i>{{ .Site.Params.contact.whatsapp }}
                    </a>
                </li>
                <li>
                    <a class="page-scroll" href="https://www.instagram.com/veganburger/" target="_blank">
                        <i class="fa fa-instagram fa wow bounceIn"></i>
                    </a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
