<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row">
            {{ range .Site.Data.projects }}
                <div class="burger-container text-center col-lg-4 col-md-4 col-sm-12 col-xm-12">
                    <div class="burger" style='background-image: url({{ .img }})'></div>
                    <div class="content">
                        <h2 class="title">
                            <strong>{{ .title }}
                            &nbsp;&nbsp;<span class="price">R${{ .price }}</span></strong>
                        </h2>
                        <div class="description text-center">
                            <p>{{ .description }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
